@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700');
@import url('https://fonts.googleapis.com/css?family=Gothic+A1');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

html, body, div, ul, p {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  background-color: #333;
  font-family: 'Gothic A1', 'Open Sans', sans-serif;
}

input, button {
  font-family: 'Gothic A1', 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

input[type=submit] {-webkit-appearance:none;}

.app-wrap {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0; 
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 450px;
  max-height: 700px;
  background-color: #fff;
}

.app-wrap .content {
  position: relative;
  height: 100%;
  padding: 40px;
}

.button-wrap {
  position: absolute;
  bottom: 0;
  left: 40px;
  right: 40px;
}

.button-wrap .btn,
.button-wrap input.btn[type="submit"] {
  padding: 1.3em 0 2em;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 20px 20px 0 0;
  background-color: #1f72d1;
  transition: .5s;
  cursor: pointer;
  outline: none;
}

.button-wrap .btn.is-delay {
  background-color: #999;
}

.button-wrap .btn.is-disable {
  background-color: #ddd;
  cursor: none;
  pointer-events: none;
}

@media screen and ( max-width: 767px ) {
  .app-wrap {
    max-width: 100%;
    max-height: 100%;
  }
  .app-wrap .content {
    padding: 15px 40px;
  }
}